/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-weight:  200;
       
  font-style:   normal;
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MyriadPro-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MyriadPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MyriadPro-Light.svg#a99616dbb054e76c282c87b27678ee84') format('svg'); /* Legacy iOS */
}

@font-face {
  font-weight:  400;
       
  font-style:   normal;
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MyriadPro-Regular.svg#b6b933d6eeb92d33db4fad36c45b0bff') format('svg'); /* Legacy iOS */
}

@font-face {
  font-weight:  700;
       
  font-style:   normal;
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MyriadPro-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MyriadPro-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MyriadPro-Semibold.svg#a17038077b1d8a3e62b9eb677c3d4bcc') format('svg'); /* Legacy iOS */
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body * {
	-webkit-font-smoothing: antialiased!important;
	text-rendering: optimizelegibility;	
}

body {
	font-weight: 400;
	font-size: 16px;
	font-family: 'Myriad Pro';
	overflow-x: hidden;	
}

a {
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;	
}

strong {
	font-weight: 700;
}

.fl {
	font-weight: 200;
}

.fs {
	font-weight: 700;
}

.c {
	margin: 0 auto;
	width: 960px;
}

.strip_big {
	width: 100%;
	height: 4px;
	background: url(../img/s_big.jpg) #e1e1e1 no-repeat center center; 
}

.azul {
	color: #00b5e2;
}

.laranja {
	color: #fad74c;
}

.verde {
	color: #17713d;
}

.vermelho {
	color: #ef662f;
}

.roxo {
	color: #662e8f;
}

.divisor {
	margin: 70px auto;
	width: 100px;
	height: 3px;
	background: #23afe5;
}

.divisor.laranja,
.historia.projeto-alicerce .historia-descricao {
	background: #fad74c;
}

.divisor.verde,
.historia.projeto-bolsa-universitarios .historia-descricao {
	background: #17713d;
}

.divisor.vermelho,
.historia.projeto-ismart-online .historia-descricao {
	background: #ef662f;
}

.divisor.roxo,
.historia.projeto-bolsa-talento .historia-descricao {
	background: #662e8f;
}

.divisor.left {
	margin: 40px 0 40px 0;
}

#header nav ul {
	padding: 0 0 0 175px;
	height: 165px;
	background: url(../img/ismart.jpg) no-repeat left center;
	line-height: 165px;
}

#header nav ul li {
	float: left;
	margin: 0 26px 0 0;
}

#header nav ul li:last-child {
	margin: 0;
}

#header nav ul li.home {
	margin: 0;
	text-indent: -9999px;
}

#header nav ul li.home a {
	width: 120px;
	height: 142px;
	margin: 0 0 0 -175px;
	display: block;
}

#header nav ul li a {
	color: #14a0d2;
	font-size: 15px;
}

#feature {
/* 	padding: 200px 0; */
	width: 100%;
/* 	height: 800px; */
	background: #00b6e3;
	position: relative;
	text-align: center;
}

/*
#feature .tp-bgimg {
	background-attachment: fixed;
	
}
*/

#feature.quem-somos,
#feature.projetos,
#feature.blog,
#feature.historias,
#feature.embaixadores {
	padding: 100px 0;
	height: 550px;
	background: url(../img/feature_quem.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.projetos {	
	padding: 130px 0;
	background: url(../img/feature_projetos.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.encontro {
	padding: 180px 0;
	background: url(../img/feature_encontro_educadores.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.alicerce {
	background: url(../img/bg_header_alicerce.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.bolsa-universitarios {
	background: url(../img/bg_header_bolsa_universitarios.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.bolsa-talento {
	background: url(../img/bg_header_bolsa_talento.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.ismart-online {
	background: url(../img/bg_header_ismart_online.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.blog {
	padding: 230px 0;
	background: url(../img/bg_header_blog.jpg) no-repeat center top;
	background-attachment: fixed;
	position: relative;
}

#feature.historias {
	padding: 180px 0;
	background: url(../img/bg_header_historias.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.marca {
	padding: 160px 0;
	background: url(../img/bg_header_marca.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.embaixadores {
	padding: 180px 0;
	background: url(../img/bg_header_mestres.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.mestres {
	padding: 180px 0;
	background: url(../img/bg_header_mestres.jpg) no-repeat center top;
	background-attachment: fixed;
}

#feature.single:before {
	content: '';
	width: 100%;
	height: 550px;
	background: url(../img/bg_header_blog_mask.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
}


#feature h1 {
	margin: 0 0 40px 0;
	color: #FFF;
	font-size: 80px;
	z-index: 9;
	position: relative;
}

#feature h1 span {
	font-weight: 200;
}

#feature.encontro h1 {
	font-size: 60px;
}

#feature p {
	margin: 0 auto 40px auto;
	max-width: 780px;
	color: #FFF;
	font-weight: 200;
	font-size: 22px;
}

#feature a.saiba-mais {
	display: block;
	margin: 40px auto 0 auto;
	font-weight: 200;
	color: #14a0d2;
	font-size: 15px;
	width: 180px;
	height: 50px;
	line-height: 53px;
	text-align: center;
	letter-spacing: 1px;
	border-radius: 4px;
	background: #FFF;
}

.full_col {
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}

#talentos,
#processo-seletivo,
#historias-picture,
#historias-sucesso {
	position: relative;
	float: left;
	max-width: 960px;
	width: 50%;
	height: 800px;
	background: #f8f8f8;
}

#talentos {
	padding: 160px 0;	
}

#talentos h1 {
	position: relative;
	margin: 0 auto;
	width: 80%;
	color: #00b5e2;
	text-align: center;
	font-size: 54px;
}

#talentos h1:before,
#talentos h1:after {
	display: block;
	margin: 30px auto;
	width: 100px;
	height: 3px;
	background: #00b5e2;
	content: '';
}

#talentos h1 span {
	font-weight: 200;
}


#processo-seletivo {
	padding: 160px 0;
	background: url(../img/bg_processo_seletivo.jpg) #f4af3a no-repeat right center;
	text-align: center;	
}

#processo-seletivo h1,
#header-processo-seletivo h1 {
	margin: 0 auto;
	width: 348px;
	color: #FFF;
	text-align: center;
	font-weight: 400;
	font-size: 100px;
	line-height: 70px;
}

#header-processo-seletivo h1 {
	margin: 0;
}

#processo-seletivo h1 span.processo,
#header-processo-seletivo h1 span.processo {
	font-weight: 200;
	font-size: 60px;
}

#processo-seletivo h1 span.ano,
#header-processo-seletivo h1 span.ano {
	position: relative;
	display: block;
	margin: 0 10px 0 0;
	text-align: right;
	font-weight: 200;
	font-size: 48px;
	line-height: 50px;
}

#processo-seletivo h1 span.ano:before,
#header-processo-seletivo h1 span.ano:before {
	position: absolute;
	right: 110px;
	bottom: 13px;
	display: block;
	width: 210px;
	height: 3px;
	background: url(../img/s_mini.jpg) no-repeat center center;
	content: '';
}

#processo-seletivo h2 {
	color: #FFF;
	font-weight: 700;
	font-size: 36px;
}

#processo-seletivo p {
	margin: 0 auto;
	width: 80%;
	color: #FFF;
	font-weight: 200;
	font-size: 28px;
}

#processo-seletivo a.inscreva-se {
	display: block;
	padding: 15px 25px;
	max-width: 185px;
	margin: 1.5em auto;
	border-radius: 4px;
	color: #14a0d2;
	font-size: 15px;
	letter-spacing: 1px;
	background: #FFF;	
}

#processo-seletivo a.inscreva-se:hover {
	background: #FFF;
	color: #14a0d2;
}

#historias-sucesso h1 {
	position: relative;
	z-index: 9;
	margin: 150px 0 0 90px;
	color: #00b5e2;
	font-size: 60px;
}

#historias-sucesso h1 span {
	font-weight: 200;
}

#historias-sucesso h2 {
	position: relative;
	z-index: 9;
	margin: 100px 0 0 90px;
	font-size: 32px;
	color: #FFF;
	font-weight: 200;
}

#historias-sucesso h3 {
	position: relative;
	z-index: 9;
	margin: 0 0 0 90px;
	font-size: 18px;;
	color: #3399cc;
}

#historias-sucesso p {
	position: relative;
	z-index: 9;
	margin: 50px 0 0 90px;
	max-width: 350px;
	color: #FFF;;
	font-weight: 200;
	font-size: 21px;
}

#historias-sucesso p.conheca-mais {
	margin: 60px 0 0 90px;
	color: #00b5e2;
	font-size: 20px;
	display: inline-block;	
}

#historias-sucesso a.conheca-mais {
	position: relative;
	z-index: 9;
	display: inline-block;
	margin: 10px 0 0 20px;
	width: 40px;
	height: 40px;
	background: url(../img/a_veja_mais.png) no-repeat center center;
}

#historias-bg {
	position: absolute;
	top: 230px;
	left: -130px;
	z-index: 1;
	width: 632px;
	height: 516px;
	background: url(../img/bg_historias.png) no-repeat center center;
}

#facebook,
#blog_1,
#blog_2,
#flickr {
	position: relative;
	float: left;
	overflow: hidden;
	max-width: 480px;
	width: 25%;
	height: 480px;
}

#fala {
	position: relative;
	float: left;
	overflow: hidden;
	max-width: 960px;
	width: 50%;
	height: 480px;
}

#fala span.icon {
	display: block;
	margin: 50px auto;
	width: 120px;
	height: 120px;
	background: url(../img/a_play.png) no-repeat center center;
}

#fala a {
	position: absolute;
	z-index: 10;
	padding: 90px;
	width: 100%;
	height: 100%;
	background: rgba(133,86,161,0.8);
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
}

#fala a:hover {
	background: rgba(133,86,161,0.4);	
}

#fala img {
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;	
}


#fala h1 {
	color: #FFF;
	text-align: center;
	font-weight: 200;
	font-size: 22px;
}

#fala a:hover + img {
	-webkit-transform: scale(1.05,1.05);	
}


#blog_1,
#blog_2 {
	padding: 90px;
	background: #feef2a;
}

#blog_1 .container {
	float: left;
}

#blog_1 h1,
#blog_2 h1 {
	position: relative;
	z-index: 8;
	display: inline-block;
	color: #00b5e2;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
}

#blog_1 h1:before,
#blog_2 h1:before {
	display: inline-block;
	margin: -5px 12px 0 0;
	width: 32px;
	height: 32px;
	background: url(../img/i_blog.png) no-repeat center center;
	content: '';
	vertical-align: middle;	
}

#blog_1 h2,
#blog_2 h2,
#blog_1 h2 a,
#blog_2 h2 a {
	position: relative;
	z-index: 8;
	margin: 20px 0 0 0;
	max-width: 480px;
	color: #555555;
	font-weight: 700;
	font-size: 22px;
}

#blog_1 p,
#blog_2 p {
	position: relative;
	z-index: 8;
	margin: 0;
	max-width: 480px;
	font-weight: 200;
	font-size: 20px;
}

#blog_1 span.data,
#blog_2 span.data {
	position: relative;
	z-index: 8;
	display: block;
	margin: 40px 0 0 0;
	color: #00b5e2;
	font-weight: 200;
	font-size: 18px;
}

#blog_1 img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	float: left;
	opacity: 0.3;
	-webkit-filter: grayscale(90%);
}

#blog_1 .mask {
	position: absolute;
	top: 0;
	right: 0;	
	z-index: 2;
	width: 480px;
	height: 480px;
	background: url(../img/blog_1_mask.png)  repeat-y left center;
}

#facebook {
	position: relative;
	padding: 90px;
	background: #4c66a3;
}

#facebook a {
	position: absolute;
	bottom: 90px;
	color: #FFF;
}

#facebook i {
	margin: 0 0 40px 0;
	font-size: 40px;
}

#facebook h1,
#flickr h1 {
	margin: 0;
	font-weight: 700;
	font-size: 24px;
}

#facebook h2,
#flickr h2 {
	margin: 0;
	font-weight: 200;
	font-size: 20px;
}

#flickr {
	overflow: visible;
	padding: 90px;
	background: #ed403d;
}

#flickr:before {
	position: absolute;
	top: 50%;
	right: -10px;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 10px solid #ee5555;
	content: '';	
}

#flickr a {
	position: absolute;
	bottom: 90px;
	color: #FFF;
}

#flickr i {
	position: relative;
	z-index: 2;
	margin: 0 0 0 -10px;
	color: #ed403d;
	font-size: 60px;
}

#flickr i:before {
	position: relative;
	z-index: 9!important;
}

#flickr i:after {
	position: absolute;
	top: 5px;
	left: 6px;
	z-index: 8!important;
	display: block;
	width: 40px;
	height: 40px;
	background: #FFF;
	content: '';
}

#flickr-picture {
	float: left;
	overflow: hidden;
	max-width: 960px;
	width: 50%;
}

#parceiros {
	padding: 200px 0;
	width: 100%;
	background: #ffffff;
}

#parceiros h1 {
	text-align: center;
	font-size: 60px;
	color: #00b5e2;
	margin: 0;
}

#parceiros h1 span {
	font-weight: 200;	
}

#parceiros h2 {
	color: #939598;
	text-align: center;
	font-weight: 200;
	font-size: 24px;
	max-width: 880px;
	margin: 1em auto;
}

#parceiros img,
.ano img {
	-webkit-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(grayscale.svg); /* Firefox 4+ */
	filter: gray; /* IE 6-9 */	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

#parceiros img:hover,
.ano img:hover {
	-webkit-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}

#parceiros-slider ul.slides li {
	pointer-events: none;
}

#parceiros-slider ul.slides li a {
	float: left;
	margin: 0 60px 60px 0;
	width: 175px;
	height: 70px;
	pointer-events: auto;
}

/*
#parceiros-slider ul.slides li a:nth-child(4n+4) {
	margin: 0 0 60px 0;
}
*/

#parceiros-slider {
	position: relative;
	margin: 80px auto 0 auto;
	width: 940px;
}

#parceiros a.veja-mais {
	display: block;
	margin: 80px auto 0 auto;
	width: 300px;
	height: 50px;
	border-radius: 4px;
	background: #00b5e2;
	color: #ffffff;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 16px;
	line-height: 50px;
}


#imprensa {
	height: 1035px;
}


#header-imprensa {
	padding: 100px 0 0 0;
	width: 100%;
	height: 650px;
	background: url(../img/bg_imprensa.jpg) no-repeat center 0px;
	background-attachment: fixed;
	background-size: cover;
}

#header-imprensa h1 {
	text-align: center;
	font-weight: 200;
	font-size: 60px;
	color: #FFF;
}

#notebook-slider {
	position: relative;
	margin: -410px auto 0 auto;
	width: 944px;
	height: 560px;
	background: url(../img/notebook.png) no-repeat center center;
}

#notebook-slider ul.slides {
	position: absolute;
	top: 41px;
	left: 118px;
	padding: 60px;
	width: 709px;
	height: 443px;
	background: #FFF;
	text-align: center;
}

#notebook-slider img {
	margin: 0 auto 0 auto;
	width: 180px;
	height: 150px;
}

#notebook-slider h1 {
	color: #00b5e2;
	font-size: 20px;
}

#notebook-slider p {
	color: #555555;
	font-weight: 200;
	margin: 0 auto 40px auto;
	max-width:500px;
}

#notebook-slider a {
	display: inline-block;
	color: #00b5e2;
	font-weight: 200;
	font-size: 18px;	
	line-height: 18px;
}

#notebook-slider a:after {
	display: inline-block;
	margin: -2px 0 0 10px;
	width: 15px;
	height: 15px;
	background: url(../img/a_veja_mais.png) no-repeat right center;
	background-size: contain;
	content: '';
	vertical-align: middle;
}

#notebook-slider > .flex-control-nav {
	bottom: -60px; 
}


#deixe-sua-marca,
#liga-do-futuro {
	width: 50%;
	max-width: 960px;
	height: 650px;
	background: url(../img/bg_deixemarca.jpg) no-repeat right center;
	float: left;
	color: #555555;
	font-weight: 200;
	font-size: 20px;
}

#liga-do-futuro {
	background: url(../img/bg_ligafuturo.jpg) no-repeat right center;
}

#deixe-sua-marca a.saiba-mais,
#liga-do-futuro a.saiba-mais {
	display: block;
	margin: 100px 0 0 0;
	width: 180px;
	height: 50px;
	border-radius: 4px;
	background: #00b5e2;
	color: #FFF;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 15px;
	line-height: 53px;
}

#deixe-sua-marca span,
#liga-do-futuro span {
	font-weight: 400;
}

#deixe-sua-marca .container,
#liga-do-futuro .container {
	margin: 105px 0 0 140px;
	padding: 220px 0 0 0;
	max-width: 415px;
	height: 455px;
	background: url(../img/deixe_sua_marca.png) no-repeat left top;
}

#liga-do-futuro .container {
	background: url(../img/liga_futuro.png) no-repeat left top;
}

#deixa-sua-marca-logo {
	width: 211px;
	height: 148px;
	background: url(../img/deixe_sua_marca.png) no-repeat center center;
	margin: 0 auto 60px auto;
	display: block;
}

#parallax {
	position: relative;
	width: 100%;
	height: 650px;
	background: url(../img/mosaico_alunos.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

#parallax h1 {
	position: absolute; top: 50%;
	left: 50%;
	margin: -120px 0 0 -480px;
	padding: 70px 50px;
	width: 960px;
	height: 240px;
	border:2px solid #FFF;
	border-radius: 4px;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);	
}

#fale-conosco {
	padding: 120px 0 120px 0;
	min-height: 700px;
	width: 100%;
	background: #00b5e2;
	color: #FFF;
	font-weight: 200;
	font-size: 22px;
}


#fale-conosco h1 {
	color: #FFF;
	text-align: center;
	font-weight: 200;
	font-size: 60px;
	margin: 0;
}

#fale-conosco p {
	margin: 60px 0;
	text-align: center;
}

#fale-conosco h2,
#enderecos h2 {
	font-weight: 400;
	font-size: 24px;
}

#fale-conosco h2:after,
#enderecos h2:after {
	display: block;
	margin: 20px 0;
	width: 50px;
	height: 3px;
	background: #FFF;
	content: '';
}

#enderecos h2:after {
	background: #00b5e2;
}

#fale-conosco .col1,
#fale-conosco .col2 {
	float: left;
	margin: 0 20px 20px 0;
	width: 460px;
}

#enderecos .col1,
#enderecos .col2 {
	float: left;
	margin: 0 100px 0 0;
	width: 380px;
}

#fale-conosco .col2 {
	margin: 0 0 20px 0;
}

#enderecos .col2 {
	margin: 0;
}

#fale-conosco input,
#fale-conosco textarea,
.php_wysija input {
	margin: 0 0 20px 0;
	width: 100%;
	height: 50px;
	outline: none;
	border:2px solid #FFF;
	border-radius: 4px;
	background: transparent;
	color: #FFF;
	text-indent: 10px;
	font-size: 16px;
}

#fale-conosco textarea {
	padding: 10px 0 0 ;
	height: 190px;
}

#fale-conosco input[type="submit"],
.php_wysija .wysija-submit {
	float: right;
	margin: 0;
	width: 140px;
	height: 50px;
	border:0;
	border-radius: 4px;
	background: #FFF;
	color: #00b5e2;
	letter-spacing: 1px;
	font-size: 16px;
	text-indent: 0;
}

.php_wysija {
	margin: 20px 0 0 0;
}

.wysija-paragraph {
	width: 48%;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
}

.wysija-paragraph input {
	margin: 0;
}

.wysija-paragraph .formError {
	position: absolute;
	left: 2px!important;
	width: 99%!important;
	top: 2px!important;
	height: 97%!important;
}

.wysija-paragraph .formErrorContent {
	width: 100%!important;
	height: 97%!important;
	border:0!important;
	border-radius: 4px;
	padding: 7px!important;
	background: #faaf4c!important;		
}

.widget_wysija_cont .updated, .widget_wysija_cont .login .message {
	color: #FFF!important;
	background: transparent!important;
	border:2px solid #FFF!important;
	padding: 5px 0;
	border-radius: 4px;
	
}

.wysija-paragraph > input[type="radio"] {
    display:none;
}
.wysija-paragraph > input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
.wysija-paragraph > input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

#professores,
#estudantes,
#interessados {
	display: none;
}

.wpcf7 .screen-reader-response {
	display: none;
}

.wpcf7 .wpcf7-not-valid-tip {
	float: left;
	color: red;
	margin: -10px 0 10px 0;
	font-size: 16px;
}

.wpcf7 .wpcf7-validation-errors {
	color: red;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #FFF;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FFF;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FFF;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #FFF;
}


#footer {
	width: 100%;
	height: 120px;
}

#footer .c {
	padding: 60px 0 60px 0;
	color: #555555;
	font-weight: 200;
	font-size: 16px;
}

#footer .icones {
	width: 640px;
	height: 100px;
	background: url(../img/icones.png) no-repeat center center;
	margin: -86px auto 0 auto;
}

#footer .rights {
	float: left;
}

#footer .y2  {
	float: right;	
}

#footer .y2 a {
	color: #555555;
}

#footer .y2 a:hover {
	color: #0071BC;
}

#footer .y2 a:hover span {
	color: red;
}

#quem-somos,
#projetos {
	padding: 110px 0 110px 0;
	font-size: 18px;
	color: #555555;
	font-weight: 200;
	text-align: center;
}

#projetos .laranja,
#projetos .azul,
#projetos .verde,
#projetos .vermelho,
#projetos .roxo {
	font-size: 30px;
}

#projetos .laranja span,
#projetos .azul span,
#projetos .verde span,
#projetos .vermelho span,
#projetos .roxo span {
	font-weight: 400;
}

#missao-visao-valores {
	position: relative;
	height: 700px;
}

#missao-visao-valores ul {
	margin: 0 auto;
	width: 940px;
	height: 100px;
	list-style: none;
}

#missao-visao-valores ul li {
	float: left;
	width: 313px;
	text-align: center;
	line-height: 100px;
}

#missao-visao-valores ul li.missao {
	background: #17713d;	
}

#missao-visao-valores ul li.missao.ativo a {
	border-bottom: 2px solid #17713d;	
}

#missao-visao-valores ul li.visao {
	background: #f4af3a;
}

#missao-visao-valores ul li.visao.ativo a {
	border-bottom: 2px solid #f4af3a;	
}

#missao-visao-valores ul li.valores {
	background: #65338f;
}

#missao-visao-valores ul li.valores.ativo a {
	border-bottom: 2px solid #65338f;	
}


#missao-visao-valores ul li a {
	display: block;
	width: 313px;
	height: 100px;
	border-bottom: 2px solid #FFF;
	color: #FFF;
	font-weight: 200;
	font-size: 24px;
}

#missao,
#visao,
#valores {
	position: absolute;
	z-index: 9;
	padding: 130px 0;
	width: 100%;
	height: 600px;
	background: #17713d;
	text-align: center;
}

#visao {
	z-index: 8;
	background: #f4af3a;	
}

#valores {	
	z-index: 8;	
	padding: 80px 0;
	background: #65338f;
}

#missao p,
#visao p,
#valores p {
	margin: 0 auto;
	max-width: 780px;
	color: #FFF;
	font-weight: 200;
	font-size: 36px;
	line-height: 48px;
}

#valores p {
	font-size: 26px;
	line-height: 38px;
}

#missao p:before,
#visao p:before,
#valores p:before {
	display: block;
	margin: 0 auto 80px auto;
	width: 100px;
	height: 3px;
	background: #FFF;
	content: '';
}

#missao p:after,
#visao p:after,
#valores p:after {
	display: block;
	margin: 80px auto 0 auto;
	width: 100px;
	height: 3px;
	background: #FFF;
	content: '';
}

#relatorios-atividade {
	padding: 150px 0;
}

#relatorios-atividade ul {
	margin: 130px auto 0 auto;
	width: 780px;
	list-style: none;
}

#relatorios-atividade h1 {
	color: #00b5e2;
	text-align: center;
	font-size: 60px;
}

#relatorios-atividade h1 span {
	font-weight: 200;
}

#relatorios-atividade ul li {
	float: left;
	margin: 0 135px 85px 0;
	width: 170px;
	color: #00b5e2;
	text-align: center;
	font-weight: 200;
	font-size: 24px;
}

#relatorios-atividade ul li:nth-child(3n+3) {
	margin: 0 0 85px 0;
}

#newsletter {
	padding: 120px 0 160px 0;
	width: 100%;
	background: #00b5e2;
}

#newsletter h1 {
	margin: 0 0 20px 0;
	color: #FFF;
	text-align: center;
	font-weight: 200;
	font-size: 60px;
}

#newsletter p {
	color: #FFF;
	text-align: center;
	font-weight: 200;
	font-size: 17px;
}

#newsletter a,
#encontro a {
	float: left;
	margin: 45px 20px 0 0;
	width: 300px;
	height: 50px;
	border: 2px solid #FFF;
	border-radius: 4px;
	color: #FFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 50px;
}

#encontro #btn-sp {
	margin: 45px 20px 90px 0;
}

#encontro #btn-rj {
	margin: 45px 0 90px 0;
}

#newsletter a:last-child {
	margin: 45px 0 0 0;
}

#newsletter a:hover,
#encontro a:hover {
	background: #FFF;
	color: #00b5e2;
}

#encontro input {
	width: 460px;
}

#encontro p {
	max-width: 460px;
	text-align: left;
	margin: 0 0 0 80px;
}

#encontro .dropdown {
	margin: 0 0 40px 0;
}

#encontro input[type="submit"] {
	width: 140px;
	background: #FFF;
	margin: 0 auto;
	display: block;
	color: #00b5e2;
	text-indent: 0px;
}

.duvidas,
.encontro2014 {
	width:380px;
	height: 50px;
	border-radius: 4px;
	float: left;
	line-height:50px;
	color: #FFF;
	text-align: center;
	background: #00b5e2;
	margin: 60px 0 0 0;
}

.encontro2014 {
	margin: 60px 60px 0 70px;
}


#enderecos {
	padding: 150px 0;
	width: 100%;
	background: #ebebeb;
	color: #00b5e2;
	font-weight: 200;
	font-size: 22px;
}

#projeto-container {
	margin: 110px auto 0 auto;
	width: 940px;
}

#projeto-container .projeto-h,
#projeto-container .projeto-h2 {
	float: left;
	margin: 0 20px 20px 0;
	padding: 35px 62px;
	width: 540px;
	height: 330px;
	background: aqua;
	text-align: left;
}

#projeto-container .projeto-h2 {
	width: 940px;
	height: 285px;
	text-align: center;
}

#projeto-container .projeto-v {
	float: right;
	padding: 30px 62px;
	width: 380px;
	height: 680px;
	background: yellow;	
	text-align: left;
}

#projeto-container .projeto h1 {
	margin: 0 0 35px 0;
	color: #ffffff;
	font-size: 36px;
}

#projeto-container .projeto h1 span {
	font-weight: 200;
}

#projeto-container .projeto p {
	margin: 0 0 20px 0;
	color: #FFF;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}

#projeto-container .projeto a,
#modulo-pt-mat a,
#modulo-cultura a,
.deixe-sua-marca a {
	display: block;
	width: 120px;
	height: 45px;
	border:2px solid #FFF;
	border-radius: 4px;
	color: #FFF;
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 45px;
}

#modulo-pt-mat a,
#modulo-cultura a {
	margin: 0 auto;
}

#projeto-container .projeto a:hover,
#modulo-pt-mat a:hover,
#modulo-cultura a:hover,
.deixe-sua-marca a:hover {
	background: #FFF;
	color: #00b5e2;
}

#projeto-container .projeto-h2 a {
	margin: 0 auto;
}

#projeto-container .projeto-alicerce {
	background: url(../img/bg_alicerce.jpg) no-repeat center center;
}

#projeto-container .projeto-bolsa-universitarios {
	background: url(../img/bg_bolsa-universitarios.jpg) no-repeat center center;
}

#projeto-container .projeto-ismart-online {
	background: url(../img/bg_ismart-online.jpg) no-repeat center center;
}

#projeto-container .projeto-bolsa-talento {
	background: url(../img/bg_bolsa-talento.jpg) no-repeat center center;
}

#header-processo-seletivo {
	padding: 45px 0;
	width: 100%;
	height: 580px;
	margin: 0 0 360px 0;
	background: url(../img/bg_header_processo.jpg) no-repeat top center;
}

#header-processo-seletivo .c {
	position: relative;
}

#header-processo-seletivo .col1 {
	float: left;
	margin: 30px 120px 0 10px;
	width: 348px;
}

#header-processo-seletivo .col2 {
	float: left;
	width: 480px;
	color: #FFF;
	font-weight: 400;
	font-size: 18px;
}

#header-processo-seletivo .balao {
	width: 599px;
	height: 508px;
	background: url(../img/balao_processo.png) no-repeat center center;
	position: absolute;
	top: 302px;
}

#header-processo-seletivo .balao h2 {
	color: #FFF;
	font-weight: 200;
	font-size: 30px;
	line-height: 30px;
	width: 320px;
	margin: 112px 0 0 170px;
}

#header-processo-seletivo .balao h3 {
	color: #FFF;
	font-weight: 200;
	font-size: 24px;
	line-height: 25px;
}

#header-processo-seletivo .balao p {
	font-weight: 200;
	color: #FFF;
	font-size: 30px;
	width: 360px;
	margin: 65px 0 0 48px;
}

#header-processo-seletivo .icones {
	width: 460px;
	height: 195px;
	background: url(../img/icones_small.png) no-repeat center top;
	padding: 35px 0 0 0;
	left: 533px;
	top: 560px;
	position: absolute;
}

#header-processo-seletivo .icones h2 {
	color: #555555;
	font-weight: 200;
	font-size: 24px;
	line-height: 30px;
	margin: 20px 0 0 0;
	text-align: right;
}

#header-processo-seletivo a.inscreva-se {
	float: right;
	margin: 50px 0;
	width: 220px;
	height: 50px;
	border-radius: 4px;
	background: #e77822;
	color: #FFF;
	text-align: center;
	font-size: 18px;
	line-height: 52px;
	margin: 420px 0 0 0;

}

#header-processo-seletivo a.regulamento {
	float: right;
	color: #FFF;
	font-size: 16px;
}

#projetos .inscreva-se {
	width: 350px;
	height: 70px;
	background: #f3a232;
	text-align: center;
	display: block;
	border-radius: 4px;
	margin: 60px auto 0 auto;
	line-height: 70px;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
}

#inscricoes {
	margin: 60px auto;
	width:960px;
}

#inscricoes h1 {
	margin: 0 0 60px 0;
	color: #00b5e2;
	text-align: center;
	font-size: 36px;
	line-height: 48px;
}

#inscricoes h1 span {
	font-weight: 200;
}

#inscricoes a {	
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 50px;
	border-radius: 4px;
	background: #f3a232;
	color: #FFF;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 15px;
	line-height: 54px;
}

#inscricoes a.anteriores {
	background: #FFF;
	color: #4ac7ef;
	line-height: 50px;
	letter-spacing: normal;
	margin: 10px auto 0 auto;
}

#inscricoes .professores,
#inscricoes .estudantes {
	float: left;
	margin: 0 180px 0 100px;
	width: 300px;
	color: #888888;
	text-align: center;
}

#inscricoes .professores h1,
#inscricoes .estudantes h1 {
	margin: 0 0 20px 0;
	color: #f3a232;
}
#inscricoes .estudantes {
	margin: 0;
}

#inscricoes .projeto-alicerce,
#inscricoes .projeto-bolsa-talento {
	width: 470px;
	height: 220px;
	float: left;
	margin: 0 0 60px 0;
	padding: 35px;
}

#inscricoes .projeto-alicerce p,
#inscricoes .projeto-bolsa-talento p { 
	color: #FFF;
	font-size: 18px;
}

#inscricoes .projeto-alicerce a,
#inscricoes .projeto-bolsa-talento a { 
	color: #FFF;
	font-size: 16px;
	width: 140px;
	height: 40px;
	border:2px solid #FFF;
	border-radius: 4px;
	background: transparent;
	line-height: 40px;
	display: inline-block;
	margin: 20px 20px 0 20px;
}

#inscricoes .projeto-alicerce a:hover,
#inscricoes .projeto-bolsa-talento a:hover  {
	background: #FFF;
	color: #00b5e2;
}

#inscricoes .projeto-alicerce {
	background: url(../img/bg_processo_alicerce.png) no-repeat center center;
}

#inscricoes .projeto-bolsa-talento {
	margin: 0 0 60px 20px;
	background: url(../img/bg_processo_bolsa_talento.png) no-repeat center center;
}

#etapas {
	width: 100%;
	height: 615px;
	padding: 110px 0 100px 0;
	background: url(../img/bg_etapas.jpg) no-repeat center top #00b5e2;
}

#etapas h1,
#etapas h2,
#encontro h2 {
	color: #FFF;
	font-weight: 200;
	text-align: center;
	font-size: 36px;
}

#etapas h2 {
	font-size: 24px;
}

#etapas ul {
	list-style: none;
	width: 880px;
	margin: 60px auto 60px auto;
}

#etapas ul li {
	width: 110px;
	float: left;
	text-align: center;
	color: #FFF;
	font-weight: 200;
	font-size: 24px;
	margin: 0 80px 0 0;
}

#etapas ul li:last-child {
	margin: 0;
}


#perguntas-frequentes .c {
	padding: 120px 0 0 90px;
}

#perguntas-frequentes {
	padding: 100px 0;
	background: url(../img/bg_faq.png)  no-repeat center 10px;
	margin: 100px 0 0 0;	
}

#perguntas-frequentes h1 {
	text-align: center;
	color: #00b5e2;
	font-size: 48px;
}

#perguntas-frequentes h1 span {
	font-weight: 200;
}

#perguntas-frequentes dl {
	list-style: none;
}

#perguntas-frequentes dl dt {
	color: #00b5e2;
	height: 20px;
	line-height: 20px;
	margin: 0 0 20px 50px;
	background: url(../img/s_down.png) no-repeat left center;
	padding: 0 0 0 30px;	
}

#perguntas-frequentes dl dt a {
	color: #888888;	
}

#perguntas-frequentes dl dd {
	display: none;
	margin: 0 0 0 80px;
	font-weight: 200;
}

#perguntas-frequentes dl dd p {
	margin: 0 0 20px 0;
}


#criterios {
	list-style: none;
	width: 620px;
	margin: 0 auto;
}

#criterios li {
	width: 180px;
	height: 270px;
	float: left;
	margin: 0 40px 0 0;
	color: #FFF;
	padding: 30px;
	font-size: 14px;
	font-weight: 400;
}

#criterios li:nth-child(3n+3) {
	margin: 0;
}

#criterios.laranja li {
	background: #fad74c;
}

#criterios.verde li {
	background: #17713d;
}

#criterios.vermelho li {
	background: #ef662f;
}

#criterios.roxo li {
	background: #662e8f;
}

#criterios .numero,
#etapas .numero {
	width: 50px;
	height: 50px;
	border: 2px solid #FFF;
	border-radius: 60px;
	margin: 0 auto 30px auto;
	display: block;
	line-height: 50px;
	font-size: 30px;
	font-weight: 200;
	text-align: center;
	color: #FFF;
}

#escolas-parceiras h1 {
	font-size: 35px;
	color: #00b5e2;
	margin: 0 0 100px 0;
}

#escolas-parceiras h1 span {
	font-weight: 200;
}

#escolas-parceiras {
	width: 880px;
	margin: 95px auto 0 auto;
	overflow: hidden;
}

#escolas-parceiras .escolas h2 {
	width: 250px;
	color: #555555;
	font-weight: 200;
	font-size: 24px;
	text-align: left;
	display: table-cell;
	vertical-align: top;
}

#escolas-parceiras .escolas {
	border-bottom: 1px solid #bbbbbb;
	list-style: none;
	width: 940px;	
	display: table;
	margin: 50px auto 50px auto;
}

#escolas-parceiras .escolas:last-child {
	border:0;
}

#escolas-parceiras .escolas li {
	float: left;
	height: 70px;
	margin: 0 50px 50px 0;
}

#inscricoes-abertas h1 {
	font-weight: 200;
	font-size: 36px;
	float: left;
}

#inscricoes-abertas {
	width: 960px;
	background: #f5f5f5;
	padding: 80px;
	margin: 95px 0 0 0;
}

#inscricoes-abertas a.inscreva-se {
	width: 220px;
	height: 50px;
	border-radius: 4px;
	line-height: 50px;
	margin: 15px 0 0 210px;
	font-size: 18px!important;
	letter-spacing: 1px;
	color: #FFF;
	font-weight: 400;
	float: left;
}

a.inscreva-se.laranja {
	background: #fad74c!important;
}

a.inscreva-se.verde {
	background: #17713d!important;	
}

a.inscreva-se.vermelho {
	background: #ef662f!important;
}

a.inscreva-se.roxo {
	background: #662e8f!important;
}

#modulo-pt-mat,
#modulo-cultura {
	width: 460px;
	height: 219px;
	background: url(../img/modulo_pt_mat.jpg) no-repeat center center;
	float: left;
	border-radius: 4px;
	padding: 40px;
}

#modulo-cultura {
	margin: 0 0 0 20px;
	background: url(../img/modulo_cultura.jpg) no-repeat center center;
}

#modulo-pt-mat h2,
#modulo-cultura h2 {
	font-weight: 200;
	color: #FFF;
	font-size: 24px;
}

#blog-content {
	width: 560px;
	float: left;
	color: #555555;
	font-weight: 200;
	margin: 75px 0 0 0;
}

#blog-content .post {
	margin: 0 0 80px 0;
}

#blog-content header {
	color: #f3a232;
	font-size: 28px;
}

#blog-content .data {
	color: #555555;
	font-size: 16px;
}

#blog-content .categoria,
#blog-content .categoria a {
	color: #3366cc;
	font-size: 16px;
}


#blog-content h1,
#blog-content h1 a {
	color: #00b5e2;
	font-size: 30px;
	font-weight: 200;
	line-height: 30px;
}

#blog-content a.saiba-mais {
	width: 150px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	border-radius: 4px;
	background: #00b5e2;
	display: block;
	margin: 50px 0 0 0;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 14px;
}

#blog-content img {
	max-width: 100%;
	height: auto;
}

#sidebar {
	width: 330px;
	margin: 0 0 0 60px;
	float: left;
}

#search {
	width: 330px;
	height: 205px;
	padding: 100px 35px 55px 35px;
	background: #00b5e2;
	margin: 0 0 50px 0;
}


#search input, #search button[type="submit"] {
	padding: 10px;
	width: 218px;
	outline: none;
	border-top:2px solid #FFFFFF;
	border-right: none;
	border-bottom:2px solid #FFFFFF;
	border-left:2px solid #FFFFFF;
	-webkit-border-top-left-radius: 4px!important;	
	-moz-border-radius-topleft: 4px!important;	
	border-top-left-radius: 4px!important;
	-webkit-border-top-right-radius: 0px!important;
	-moz-border-radius-topright: 0px!important;
	border-top-right-radius: 0px!important;
	-moz-border-radius-bottomright: 0px!important;
	border-bottom-right-radius: 0px!important;
	-webkit-border-bottom-left-radius: 4px!important;
	-moz-border-radius-bottomleft: 4px!important;
	border-bottom-left-radius: 4px!important;
	background: transparent;
	color: #FFFFFF;
	text-indent: 3px;
	font-size: 16px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	-webkit-border-bottom-rogjt-radius: 0px!important;	
}


#search button[type="submit"], #search button[type="submit"] {
	margin: 0 0 0 -5px;
	width: 40px;
	border-right:2px solid #FFFFFF;
	border-left: none;
	-webkit-border-top-left-radius: 0px!important;
	-moz-border-radius-topleft: 0px!important;
	border-top-left-radius: 0px!important;
	-webkit-border-top-right-radius: 4px!important;	
	-moz-border-radius-topright: 4px!important;	
	border-top-right-radius: 4px!important;
	-webkit-border-bottom-right-radius: 4px!important;
	-moz-border-radius-bottomright: 4px!important;
	border-bottom-right-radius: 4px!important;
	-webkit-border-bottom-left-radius: 0px!important;
	-moz-border-radius-bottomleft: 0px!important;
	border-bottom-left-radius: 0px!important;	
	color: #FFFFFF;
	vertical-align: bottom;
}

#sidebar .sidebar-item {
	margin: 0 0 50px 0;
}

#sidebar .sidebar-item h1 {
	color: #00b5e2;
	font-weight: 200;
	font-size: 30px;
	margin: 0 0 30px 0;
}

#categorias ul {
	list-style: none;
}

#categorias ul li {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	margin: 0 -1px 3px 0;
}

#categorias ul li a {
	color: #FFFFFF;
	font-size: 14px;
	height: 36px;
	width: 100%;
	background: #00b5e2;
	display: block;	
	padding: 0 10px;	
}

#categorias ul li a:hover {
	background: #0093d4;
}

#nuvem-tags a {
	color: #00b5e2;
}

#ultimas-noticias ul {
	list-style: inside;
	margin: 0 0 0 20px;
	color: #555555;
}

#ultimas-noticias a {
	color: #555555;
	font-size: 16px;
	font-weight: normal;
}

.sharrre {
	height: 60px;
	margin: 40px 0 0 0;
}

.sharrre .button {
	float:left;
	height: 60px;
	margin: 0 20px 0 0;
}

.googleplus {
	width: 62px;
}

.facebook {
	width: 120px;
}

.twitter {
	width: 72px;
}

.wp-pagenavi {
	clear: both;
	text-align: center;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 7px 10px;
	margin: 2px;
	font-size: 14px;
	font-weight: 700;
	background: #ebebeb;
	color: #00b5e2
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #00b5e2;
	background: #00b5e2;
	color: #FFF;
}

#historias-container {
	width: 940px;
	margin: 0 auto;
}

.historia-imagem,
.historia-descricao {
	width: 470px;
	height: 400px;
}

.historia-descricao {
	padding: 70px;
	text-align: left;
	background: red;
}

.historia.even .historia-imagem {
	float: left;
}

.historia.even .historia-descricao {
	float: right;
}

.historia.odd .historia-imagem {
	float: right;
}

.historia.odd .historia-descricao {
	float: left;
}

.historia-descricao h1,
.historia-descricao p {
	font-weight: 200;
	font-size: 28px;
	color: #FFF;
}

.historia-descricao p {
	font-size: 18px;
}

.historia a.saiba-mais {
	border:2px solid #FFF;
	color: #FFF;
	display: block;
	width: 120px;
	height: 45px;
	line-height: 42px;
	text-align: center;
	border-radius: 4px;
	margin: 50px 0 0 0;
}

.historia a.saiba-mais:hover {
	background: #FFF;
	color: #00b5e2;
}

.deixe-sua-marca {
	float: left;
	padding: 50px 60px;
	text-align: left;
	font-size: 15px;	
	
}

.deixe-sua-marca h2 {
	font-size: 35px;
	margin: 0 0 25px 0;
	line-height: 35px	
}

.deixe-sua-marca h2 span {
	font-weight: 200;
}

#fazendo-a-diferenca,
#galeria-de-mestres {
	width: 540px;
	height: 330px;
	margin: 0 0 20px 0;
}

#embaixador-do-ismart,
#grupo-facebook {
	width: 380px;
	height: 330px;
	float: left;
	margin: 0 0 20px 20px;
}

#fazendo-a-diferenca,
#grupo-facebook {
	color: #FFF;
}

#embaixador-do-ismart, 
#galeria-de-mestres	{
	color: #238fcb;
}

#fazendo-a-diferenca {
	background: url(../img/bg_fazendo_diferenca.jpg) no-repeat center center;
}

#grupo-facebook {
	background: url(../img/bg_grupo_facebook.jpg) no-repeat center center
}

#embaixador-do-ismart {
	background: url(../img/bg_embaixador.jpg) no-repeat center center;
}

#galeria-de-mestres	{
	background: url(../img/bg_mestres_imortais.jpg) no-repeat center center;
}

#embaixador-do-ismart a,
#galeria-de-mestres a {
	border-color: #00b5e2;
	color: #00b5e2; 
}

#embaixador-do-ismart a:hover,
#galeria-de-mestres a:hover {
	background: #00b5e2;
	color: #FFF; 
}

.embaixador {
	width: 940px;
	height: 700px;
	position: relative;
	margin: 100px 0 0 0;
}

.embaixador.even .imagem {
	float: left;
}

.embaixador.even a {
	left: 500px;
}

.embaixador.even .descricao {
	left: 315px;
	background: url(../img/bg_embaixador_even.png) no-repeat center center;
	padding: 100px 70px 0 180px;	
}

.embaixador.odd .descricao {
	right: 315px;
	background: url(../img/bg_embaixador_odd.png) no-repeat center center;
	padding: 100px 180px 0 70px;

}

.embaixador.odd .imagem {
	float: right;
}

.embaixador.odd a {
	right: 500px;
}

.embaixador .imagem {
	width: 470px;
	height: 700px;
}

.embaixador .descricao {
	width: 636px;
	height: 513px;
	position: absolute;
	top: 100px;
	text-align: justify;
	font-size: 24px;
	color: #238fcb;
}

.embaixador a,
.diferencas a {
	width: 120px;
	height: 45px;
	border:2px solid #238fcb;
	font-size: 15px;
	letter-spacing: 1px;
	display: block;
	line-height: 45px;
	text-align: center;
	color: #238fcb;
	position: absolute;
	border-radius: 4px;
	bottom: 0;
}

.diferencas a {
	
}

.embaixador a:hover,
.diferencas a:hover {
	background: #238fcb;
	color: #FFF;
}

.diferencas {
	width: 880px;
	margin: 100px auto 0 auto;
}

.diferencas .imagem {
	width: 460px;
	height: 400px;
	float: left;
	margin: 0 80px 0 0;
}

.diferencas .descricao {
	text-align: left;
	width: 330px;
	float: left;
	position: relative;
	height: 400px;
	padding: 40px 0 0 0;
}

.diferencas .descricao h1 {
	color: #238fcb;
	font-size: 28px;
	font-weight: 200;
	margin: 0;
}
#mestres ul.anos {
	list-style: none;
	height: 100px;
	border-bottom: 3px solid #4ac7ef;
	width: 940px;
}

#mestres ul.anos li {
	width: 160px;
	height: 100px;
	float: left;
	background: #238fcb;
	line-height: 100px;
	border-top: 3px solid #238fcb;
	border-left: 0;
	border-right: 0;
	border-bottom: 3px solid #4ac7ef;
}

#mestres ul.anos li.ativo {
	background: #FFF;
	border-top: 3px solid #4ac7ef;
	border-left: 3px solid #4ac7ef;
	border-right: 3px solid #4ac7ef;
	border-bottom: 3px solid #4ac7ef;
}

#mestres ul.anos li a {
	width: 160px;
	height: 94px;
	display: block;
	color: #FFF;
	-webkit-transition: none;	
}

#mestres ul.anos li.ativo a {
	width: 154px;
	height: 97px;
	background: #FFF;
	color: #238fcb;
}

#mestres ul.ano {
	list-style: none;
	text-align: left;
	margin: 50px 0 480px 0;
	width: 940px;
	display: none;
}

#mestres ul.ano li {
	position: relative;
	float: left;
	margin: 0 20px 20px 0;
}

#mestres ul.ano li:nth-child(4n+4) {
	margin: 0 0 20px 0;
}

#mestres ul.ano li .texto {
	padding: 40px 20px;
	height: 480px;
	width: 220px;
	background: rgba(46,151,207,0.95);
	position: absolute;
	z-index: 9;
	color: #FFF;
	font-size: 16px;
	display: none;
}

#mestres ul.ano li .texto:before {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(46,151,207,0.95);;
	position: absolute;
	top: -20px;
	content: '';
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

/*
@media (min-width:320px) {
	#header {
		display: none;
}
	.full_col {
		max-width: 320px;
}
	#talentos,
	#processo-seletivo {

		float: none;
		width: 100%;
}
	#talentos h1 {
		font-size: 32px;
	}
} 
*/

@media (max-width:1280px) {
	#talentos,
	#processo-seletivo,
	#historias-picture,
	#historias-sucesso {
		padding: 50px 0;
		max-width: 633px;
		height: 528px;
	}
	#historias-sucesso h1,
	#historias-sucesso h2,
	#historias-sucesso p {
		margin: 50px 0 0 50px;
	}
	#historias-sucesso h3 {
		margin: 0 0 0 50px;
	}
	#historias-sucesso p.conheca-mais {
		margin: 30px 0 0 50px;
	}
	#historias-sucesso a.conheca-mais {
		margin: 10px 0 0 10px;
	}
	#historias-bg {
		top: 30px;
		left: -140px;
	}
	#blog_1,
	#facebook,
	#blog_2,
	#flickr {
		max-width: 316px;
		height: 316px;
	}
	#fala a {
		padding: 0;
	}
	#fala span.icon {
		margin: 50px auto;	
	}
	#fala img {
		max-width: 633px;
		height: auto;
	}
	#fala {
		max-width: 633px;
		height: 316px;
		/* padding: 20px 50px; */
	}
	#blog_1 img {
		max-width: 316px;
		height: auto;
	}
	#blog_1 .mask {
		width: 316px;
		height: 316px;
	}
	#blog_1 h2,
	#blog_1 h2 a,
	#blog_2 h2,
	#blog_2 h2 a {
		font-size: 18px;	
	}
	#blog_1 p,
	#blog_2 p,
	#blog_1 span.data,
	#blog_2 span.data {
		font-size: 15px;	
	}	
	#facebook,
	#flickr {
		padding: 50px;
	}
	#facebook a,
	#flickr a {
		bottom: 50px;
	}
	#blog_1,
	#blog_2 {
		padding: 20px 50px;		
	}
	#flickr-picture {
		height: 316px;
	}
	#flickr-picture img {
		width: auto;
		height: 316px;
	}	
	#deixe-sua-marca,
	#liga-do-futuro {
		max-width: 632px;
		height: 650px;
		background-position: -200px center!important; 		
	}
	#deixe-sua-marca .container,
	#liga-do-futuro .container {
		max-width: 395px;
		height: 401px;
		margin: 60px 0 0 60px;
	}
	#deixe-sua-marca a.saiba-mais,
	#liga-do-futuro a.saiba-mais {
		margin: 40px 0 0 0;
	}	
}

@media (max-width:1366px) {
	#talentos,
	#processo-seletivo,
	#historias-picture,
	#historias-sucesso {
		padding: 50px 0;
		max-width: 676px;
		height: 564px;
	}
	#historias-sucesso h1,
	#historias-sucesso h2,
	#historias-sucesso p {
		margin: 50px 0 0 50px;
	}
	#historias-sucesso h3 {
		margin: 0 0 0 50px;
	}
	#historias-sucesso p.conheca-mais {
		margin: 30px 0 0 50px;
	}
	#historias-sucesso a.conheca-mais {
		margin: 10px 0 0 10px;
	}	
	#historias-bg {
		top: 30px;
		left: -140px;
	}
	#blog_1,
	#facebook,
	#blog_2,
	#flickr {
		max-width: 338px;
		height: 338px;
	}
	#fala a {
		padding: 0;
	}
	#fala span.icon {
		margin: 50px auto;	
	}
	#fala img {
		max-width: 676px;
		height: auto;
	}
	#fala {
		max-width: 676px;
		height: 338px;
		/* padding: 20px 50px; */
	}
	#blog_1 img {
		max-width: 338px;
		height: auto;
	}
	#blog_1 .mask {
		width: 338px;
		height: 338px;
	}
	#blog_1 h2,
	#blog_1 h2 a,
	#blog_2 h2,
	#blog_2 h2 a {
		font-size: 18px;	
	}
	#blog_1 p,
	#blog_2 p,
	#blog_1 span.data,
	#blog_2 span.data {
		font-size: 15px;	
	}	
	#facebook,
	#flickr {
		padding: 50px;
	}
	#facebook a,
	#flickr a {
		bottom: 50px;
	}
	#blog_1,
	#blog_2 {
		padding: 20px 50px;		
	}
	#flickr-picture {
		height: 338px;
	}
	#flickr-picture img {
		width: auto;
		height: 338px;
	}
	#deixe-sua-marca,
	#liga-do-futuro {
		max-width: 672px;
		height: 650px;
		background-position: -200px center!important; 		
	}
	#deixe-sua-marca .container,
	#liga-do-futuro .container {
		max-width: 395px;
		height: 401px;
		margin: 60px 0 0 60px;
	}
	#deixe-sua-marca a.saiba-mais,
	#liga-do-futuro a.saiba-mais {
		margin: 40px 0 0 0;
	}	
}


@media (max-width:1024px) {
	#talentos,
	#processo-seletivo,
	#historias-picture,
	#historias-sucesso {
		padding: 30px 0;
		max-width: 505px;
		height: 420px;
	}
	#talentos h1 {
		font-size: 42px;
	}
	#processo-seletivo h1 {
		font-size: 80px;
		width: 265px;
		line-height: 55px;
	}
	#processo-seletivo h1 span.processo {
		font-size: 40px;
	}
	#processo-seletivo h1 span.ano {
		font-size: 28px;
	}
	#processo-seletivo h1 span.ano:before {
		right: 60px;
		bottom: 17px;
		width: 190px;
	}
	#processo-seletivo h2 {
		font-size: 26px;
	}
	#processo-seletivo p {
		font-size: 18px;
	}
	#historias-sucesso h1,
	#historias-sucesso h2,
	#historias-sucesso p {
		margin: 30px 0 0 30px;
	}
	
	#historias-sucesso h1 {
		font-size: 50px;
	}
	#historias-sucesso h2 {
		font-size: 20px;
	}
	#historias-sucesso h3 {
		margin: 0 0 0 30px;
	}
	#historias-sucesso p {
		font-size: 16px;
		max-width: 300px;
	}
	#historias-sucesso p.conheca-mais {
		margin: 10px 0 0 30px;
	}
	#historias-sucesso a.conheca-mais {
		margin: 5px 0 0 10px;
	}
	#historias-bg {
		top: 30px;
		width: 453px;
		height: 370px;
		left: -110px;
		background-size: 453px 370px;
	}
	#blog_1,
	#facebook,
	#blog_2,
	#flickr {
		max-width: 252px;
		height: 252px;
	}
	#fala a {
		padding: 0;
	}
	#fala span.icon {
		margin: 20px auto;	
	}
	#fala img {
		max-width: 504px;
		height: auto;
	}
	#fala {
		max-width: 504px;
		height: 252px;
		/* padding: 20px 30px; */
	}
	#blog_1 img {
		max-width: 252px;
		height: auto;
	}
	#blog_1 .mask {
		width: 252px;
		height: 252px;
	}
	#blog_1 h2,
	#blog_1 h2 a,
	#blog_2 h2,
	#blog_2 h2 a {
		font-size: 14px;
		margin: 5px 0 0 0;	
	}
	#blog_1 p,
	#blog_2 p,
	#blog_1 span.data,
	#blog_2 span.data {
		font-size: 13px;
		margin: 10px 0 0 0;	
	}	
	#facebook,
	#flickr {
		padding: 30px;
	}
	#facebook a,
	#flickr a {
		bottom: 30px;
	}
	#facebook h2,
	#flickr h2 {
		font-size: 18px;
	}
	#blog_1,
	#blog_2 {
		padding: 20px 30px;		
	}
	#flickr-picture {
		height: 252px;
	}
	#flickr-picture img {
		width: auto;
		height: 252px;
	}
	#deixe-sua-marca,
	#liga-do-futuro {
		max-width: 505px;
		height: 542px;
		background-position: -200px center!important; 		
	}
	#deixe-sua-marca .container,
	#liga-do-futuro .container {
		max-width: 395px;
		height: 401px;
		margin: 60px 0 0 60px;
	}
	#deixe-sua-marca a.saiba-mais,
	#liga-do-futuro a.saiba-mais {
		margin: 40px 0 0 0;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {	
	#parallax,
	#header-imprensa {
		-webkit-background-size: auto 650px;
		background-size: auto 650px;
		background-attachment: scroll;
	}	
	.tp-bgimg {
		-webkit-background-size: auto 700px!important;
		background-size: auto 700px!important;
		background-attachment: scroll!important;
		
	}
	#feature.single {
		background: #00aae1!important;		
	}			
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#parallax,
	#header-imprensa {
		-webkit-background-size: auto 650px;
		background-size: auto 650px;
		background-attachment: scroll;
	}
	.tp-bgimg {
		-webkit-background-size: auto 700px!important;
		background-size: auto 700px!important;
		background-attachment: scroll!important;
		
	}
	
	#feature.single {
		background: #00aae1!important;
		
	}	
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    overflow: hidden;
    border: 0;
    background-color: transparent;
    *text-indent: -9999px;
}

.ir:before {
    display: block;
    width: 0;
    height: 150%;
    content: "";
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#image-1 {
	width: 480px;
	height: 480px;
	margin-top: -90px;
	margin-left: -90px;
	-webkit-background-size: cover !important;
	background-size: cover  !important;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}